{%- if card_product and card_product != empty -%}
  <a
    href="{{ card_product.url }}"
    target="_blank"
    class="card-wrapper border group block">
    <div class="card">
      {% if card_product.featured_media %}
        {% assign image_class = "" %}
        {% if card_product.media[1] != blank and show_secondary_image %}
          {% assign image_class = image_class | append: "group-hover:hidden" %}
        {% endif %}
        <div class="card_image">
          {{ card_product.featured_media | image_url: width: 900 | image_tag: loading: 'lazy', class: image_class }}
          {% if card_product.media[1] != blank and show_secondary_image %}
            {{ card_product.media[1] | image_url: width: 900 | image_tag: loading: 'lazy', class: "hidden group-hover:block" }}
          {% endif %}
        </div>

      {% else %}
        <div class="card_image">
          {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}</div>
      {% endif %}
      <h3 class="card__title px-2">
        {{ card_product.title }}
      </h3>
      <h4 class="px-2">
        {% if card_product.compare_at_price > card_product.price %}
          <span class="line-through">{{ card_product.compare_at_price | money }}</span>
          {{ card_product.price | money }}
        {% else card_product.price_varies %}
          <div>
            From {{ card_product.price_min | money }}
            To {{ card_product.price_max | money }}
          </div>
        {% else %}
          {{ card_product.price | money }}
        {% endif %}
      </h4>
    </div>
  </a>
{%- else -%}
  <div class="card-wrapper product-card-wrapper underline-links-hover">
    <div class="
        card card--{{ settings.card_style }}
        {% if extend_height %} card--extend-height{% endif %}
        {% if image_shape and image_shape != 'default' %} card--shape{% endif %}
        {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
      " style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
      <div class="card__inner{% if settings.card_style == 'standard' %} color-{{ settings.card_color_scheme }} gradient{% endif %} ratio">
        <div class="card__media {% if image_shape and image_shape != 'default' %} shape--{{ image_shape }} color-{{ settings.card_color_scheme }} gradient{% endif %}">
          <div class="media media--transparent">
            {%- if placeholder_image -%}
              {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
            {%- else -%}
              {{ 'product-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading card__heading--placeholder{% if settings.card_style == 'standard' %} h5{% endif %}">
            <a
              role="link"
              aria-disabled="true"
              class="full-unstyled-link">
              {{ 'onboarding.product_title' | t }}
            </a>
          </h3>
          <div class="card-information">
            {%- if show_vendor -%}
              <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
              <div class="caption-with-letter-spacing light">{{ 'products.product.vendor' | t }}</div>
            {%- endif -%}
            {% render 'price'
              , placeholder: placeholder
              , show_compare_at_price: true %}
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}